h1,
h2,
h3,
h4,
p,
li {
  font-family: sans-serif;
  color: rgb(73, 73, 73);
}
.first-header {
  background-color: #becdf9;
}
h1,
h2,
h3 {
  color: #5588f6;
}
h1 {
  color: #7f54d0;
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
}
h2 {
  font-size: 40px;
}
h3 {
  font-size: 30px;
}
h4 {
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
}
p {
  font-size: 22px;
  line-height: 1.5;
}
li {
  font-size: 20px;
}
/* footer p {
  font-size: 16px;
}
article header p {
  font-style: italic;
} */
.related-author {
  font-weight: bold;
  font-size: 18px;
}
.related {
  list-style: none;
}
aside {
  border-top: 5px solid #2f60f3;
  border-bottom: 5px solid #2f60f3;
  background-color: #becdf9;
}
.author {
  font-style: italic;
}
a:link {
  color: #ff0090;
  text-decoration: none;
}
a:visited {
  color: #ff0090;
}
a:hover {
  font-weight: bold;
  text-decoration: underline #800080;
}
a:active {
  color: #800080;
}
nav {
  font-size: 18px;
}
