* {
  padding: 0;
  margin: 0;
}
.container {
  width: 700px;
  margin: 0 auto;
}
article {
  margin-bottom: 60px;
}
nav a:link {
  display: inline-block;
  margin-right: 30px;
  margin-top: 10px;
}
nav a:link:last-child {
  margin-right: 0;
}
body {
  font-family: sans-serif;
  color: #494949;
  border-top: 10px solid #5588f6;
  position: relative;
}
.main-header {
  background-color: #becdf9;
  padding: 20px 40px;
  margin-bottom: 60px;
  height: 80px;
}
.post-header {
  margin-bottom: 40px;
}
.post-img {
  width: 100%;
  height: auto;
}
h1,
h2,
h3 {
  color: #5588f6;
}
h1 {
  color: #7f54d0;
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
}
h1::first-letter {
  font-style: normal;
  margin-right: 5px;
}
h2 {
  font-size: 40px;
  margin-bottom: 30px;
  position: relative;
}
h2::after {
  content: "TOP";
  display: inline-block;
  background-color: #312d3d;
  color: rgb(255, 31, 125);
  font-weight: bold;
  font-size: 16px;
  padding: 5px 10px;
  position: absolute;
  top: -10px;
  right: -25px;
}
h3 {
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 40px;
}
h4 {
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
}
p {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 15px;
}
li {
  font-size: 20px;
  margin-bottom: 10px;
}
li:last-child {
  margin-bottom: 0;
}
/* footer p {
  font-size: 16px;
}
article header p {
  font-style: italic;
} */
.related-author {
  font-weight: bold;
  font-size: 18px;
}
.related {
  list-style: none;
}
aside {
  border-top: 5px solid #2f60f3;
  border-bottom: 5px solid #2f60f3;
  background-color: #becdf9;
  padding: 50px 0;
  width: 500px;
}
.author {
  font-style: italic;
}
a:link {
  color: #ff0090;
  text-decoration: none;
}
a:visited {
  color: #ff0090;
}
a:hover {
  font-weight: bold;
  text-decoration: underline #800080;
}
a:active {
  color: #800080;
}
nav {
  font-size: 18px;
}
ul,
ol {
  margin-left: 50px;
  margin-bottom: 20px;
}
button {
  position: absolute;
  right: 50px;
  bottom: 50px;
  font-size: 22px;
  padding: 20px;
  cursor: pointer;
  background-color: #ffbce2;
}
